{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <section class="profile">
        <div class="profileHeader">
            {% if user.avatar == null %}
                <img src="/asset/image/avatar.jpg" alt="Avatar" />
            {% else %}
                <img src="/image/uploads/users/{{user.avatar}}" alt="Image de profile" />
            {% endif %}
            <h1>{{ user.username }}</h1>
            <p>{{ user.description }}</p>
            {% if app.user %}
                {% if app.user.id == user.id %}
                    <a href="{{ path('app_user_edit', {'id': app.user.id}) }}">Modifier mon profile</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="profilePost">
            {% for post in user.post %}
                <a href="{{ path('app_post_show', {'id': post.id}) }}">
                    <img src="/image/uploads/posts/{{ post.image }}" alt="Image de la publication">
                </a>
            {% endfor %}
        </div>
    </section>

    {# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
